/** ======= Pagination Style ======= **/

.wp-pagenavi {
    text-align: center;

    a,
    span {
        display: inline-block;
        padding: 6px 8px;
        border: 1px solid #e0e0e0;
        line-height: 1;
        margin: 3px;
        min-width: 30px;

        &.current,
        &:hover:not(.pages) {
            background-color: $tmpcolor;
            color: #fff;
            border-color: $tmpcolor;
        }
    }
}
